# ignoring zip
**.zip
**.pdf

# jupyter notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

#
*.pth
*.pth.tar

# folders
./pytorch_dataset/
./runs/

./image_caption/__pycache__/

./image_caption/flickr8k/
./torchtext_tut/.data/

**~
